@charset "UTF-8";

/* Estilo para telas*/

*{
    margin: 0px;
    padding: 0px;
}

header{
    text-align: center;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 30px;
    background-color: rgba(211, 211, 211, 0.315);
}
header h1{
    padding: 10px;
}
menu ul{
    list-style-type: disc;
    list-style-position: inside;
}
li a{
    color: black;
}


article{
    margin: auto;
    width: 600px;
    border-left: 1px solid rgba(128, 128, 128, 0.089);
    border-right: 1px solid rgba(128, 128, 128, 0.089);
}
article h2{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-align: center;
}
article p{
    padding: 10px;
    text-indent: 30px;
    text-align: justify;
    font-size: 1.2em;
    line-height: 28px;
}