@charset "UTF-8";

/*Todas as midias*/

@media print{ /*Impressão*/

}

@media screen and (min-width: 768px) and (max-width: 991px){ /*Tablets*/
    body{
        background: black url(../imagens/back-tablet.jpg) top left no-repeat;
        background-size: cover;
    }

    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#desktop{display: none;}
    img#tv{display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1999px){ /*Desktops*/
    body{
        background: black url(../imagens/back-pc.jpg) top left no-repeat;
        background-size: cover;
    }
    main > p::after{
        content:'Teste';
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#desktop{display: block;}
    img#tv{display: none;}
}

@media screen and (min-width: 1200px){ /*Televisores*/
    body{
        background: black url(../imagens/back-tv.jpg) top left no-repeat;
        background-size: cover;
    }

    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#desktop{display: none;}
    img#tv{display: block;}
}